<div class="main-content">
  <div class="section-content section-content-p30">
    <div *ngIf="categoryName != ''">
      <h2>Category {{ categoryName }}</h2>
      <hr />
    </div>
    <div class="container-fluid">
      <div class="row">
        <div
          *ngIf="products?.length == 0"
          class="alert alert-warning col-md-12"
          role="alert"
        >
          There is no product like this search keyword!!!
        </div>
        <div class="col-md-3" *ngFor="let tempProduct of products">
          <div class="product-box">
            <a routerLink="/products/{{ tempProduct.id }}">
              <img src="{{ tempProduct.imageUrl }}" class="img-responsive" />
            </a>
            <a routerLink="/products/{{ tempProduct.id }}">
              <h1>{{ tempProduct.name }}</h1>
            </a>
            <h2>{{ tempProduct.description }}</h2>
            <div class="price">
              {{ tempProduct.unitPrice | currency: "USD" }}
            </div>
            <a href="#" class="primary-btn">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
