<div class="page-wrapper">
  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a routerLink="/products">
        <img
          src="assets/images/logo.png"
          alt="luv2shop"
          class="img-responsive"
        />
      </a>
    </div>

    <!-- Menu component -->
    <app-product-category></app-product-category>
  </aside>
  <!-- END MENU SIDEBAR-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <!-- Search component -->
            <app-search-component></app-search-component>

            <!-- Login Status Component -->
            <app-login-status></app-login-status>

            <!-- Cart Status -->
            <app-cart-status></app-cart-status>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>

    <!-- END HEADER DESKTOP-->

    <!-- Main content -->
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <div class="footer-pagination">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-3">
      <div class="items">
        <label>Item per page</label>
        <select>
          <option>10</option>
          <option>20</option>
          <option>30</option>
          <option>40</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="number">1 - 10 of 100</div>
    </div>
    <div class="col-md-1">
      <div class="arrows">
        <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div> -->
